.App {
  text-align: center;
}

.App-header {
  background-color: #212121;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body, html {
  background-color: #484848;
}

.shows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
}

.App-header h2 {
  margin: 0;
}

.add-shows {
  text-align: center;
}

.add-shows button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.show {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}


input[type="submit"] {
  padding: 5px;
  background-color: white;
  color: black;
  font-weight: bolder;
  border: 2px solid white;
  border-radius: 4px;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.search > input[type="text"] {
  width: 40%;
  min-width: 170px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-weight: bolder;
}


@media screen and (min-width: 694px) and (max-width: 915px) {
  .show {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .show {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .show {
    max-width: 100%;
    margin: auto;
  }
}